.screenPage {
    width: 100%;
    height: 100%;
    position: relative;
    .contentBox {
        width: 100%;
        height: 100%;
        overflow: hidden;
        main {
            width: 100%;
            height: 100%;
            background: url('./img/bg_01.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            .petalBox {
                width: 1000px;
                height: 600px;
                background: url('./img/title_bg.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                header {
                    width: 100%;
                    height: 50px;
                    margin-top: 10px;
                    font-size: 30px;
                    // 文本渐变效果
                    background: linear-gradient(0deg, #0359BD 0%, #37B0FF 85%);
                    background-clip: text;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .pointerBox {
        width: 24px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        ul {
            width: 100%;
            li {
                width: 100%;
                height: 24px;
                margin: 10px 0;
                float: left;
            }
            .curBg {
                background-image: url('./img/icon_point_u.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .curActive {
                background-image: url('./img/icon_point_s.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
        }
        .lineTop, .lineBottom {
            width: 100%;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                width: 1px;
                height: 100%;
                background: rgba(255, 255, 255, 0.5);
            }
        }
    }
}
